<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="referrer" content="never" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Poster Shop</title>
  <link rel="icon" href="public/favicon.ico" type="image/x-icon">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="public/style.css">
</head>

<body>

  <div id="app">
    <div class="header">
      <h1>Vue.js Poster Store</h1>
      <form class="searchbar">
        <input v-model="newSearch" placeholder="Search for poster">
        <input type="submit" class="search-btn" name="search" value="Search" @click.prevent="onSubmit">
      </form>
    </div>
    <div class="main">
      <div class="products">
        <div v-if="loading">
          Searching...
        </div>
        <div class="search-results" v-else>
          Found <strong>{{ items.length }}</strong> results for search item <strong>{{ lastSearch }}</strong>.</div>
        <div class="product" v-for="(item, index) in items">
          <div>
            <div class="product-image">
              <img v-bind:src="item.link">
            </div>
          </div>
          <div>
            <h4 class="product-title">{{ item.title }}</h4>
            <button type="button" class="add-to-cart slideRight" @click="addItem(index)">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="cart">
        <h2>Shopping Cart</h2>
        <ul>
          <li class="cart-item" v-for="item in cart">
            <div>{{ item.title}}</div>
            <span class="item-quantity">{{ item.price | currency }} x {{ item.quantity }}</span>
            <button class="btn" @click="inc(item)">+</button>
            <button class="btn" @click="dec(item)">-</button>
          </li>
        </ul>
        <div v-if="cart.length">
          <div>Total: {{ total | currency }}</div>
        </div>
        <div v-else class="empty-cart">No Items in the cart</div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/reload/reload.js"></script>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="public/script.js"></script>

</body>

</html>